@import "tailwindcss";

@theme {
  /* kColors */
  --color-k0: #ffffff;
  --color-k1: #000000;
  --color-k2: #00007f;
  --color-k3: #009300;
  --color-k4: #ff0000;
  --color-k5: #7f0000;
  --color-k6: #9c009c;
  --color-k7: #fc7f00;
  --color-k8: #ffff00;
  --color-k9: #00fc00;
  --color-k10: #009393;
  --color-k11: #00ffff;
  --color-k12: #0000fc;
  --color-k13: #ff00ff;
  --color-k14: #7f7f7f;
  --color-k15: #d2d2d2;
  --color-k16: #470000;
  --color-k17: #472100;
  --color-k18: #474700;
  --color-k19: #324700;
  --color-k20: #004700;
  --color-k21: #00472c;
  --color-k22: #004747;
  --color-k23: #002747;
  --color-k24: #000047;
  --color-k25: #2e0047;
  --color-k26: #470047;
  --color-k27: #47002a;
  --color-k28: #740000;
  --color-k29: #743a00;
  --color-k30: #747400;
  --color-k31: #517400;
  --color-k32: #007400;
  --color-k33: #007449;
  --color-k34: #007474;
  --color-k35: #004074;
  --color-k36: #000074;
  --color-k37: #4b0074;
  --color-k38: #740074;
  --color-k39: #740045;
  --color-k40: #b50000;
  --color-k41: #b56300;
  --color-k42: #b5b500;
  --color-k43: #7db500;
  --color-k44: #00b500;
  --color-k45: #00b571;
  --color-k46: #00b5b5;
  --color-k47: #0063b5;
  --color-k48: #0000b5;
  --color-k49: #7500b5;
  --color-k50: #b500b5;
  --color-k51: #b5006b;
  --color-k52: #ff0000;
  --color-k53: #ff8c00;
  --color-k54: #ffff00;
  --color-k55: #b2ff00;
  --color-k56: #00ff00;
  --color-k57: #00ffa0;
  --color-k58: #00ffff;
  --color-k59: #008cff;
  --color-k60: #0000ff;
  --color-k61: #a500ff;
  --color-k62: #ff00ff;
  --color-k63: #ff0098;
  --color-k64: #ff5959;
  --color-k65: #ffb459;
  --color-k66: #ffff71;
  --color-k67: #cfff60;
  --color-k68: #6fff6f;
  --color-k69: #65ffc9;
  --color-k70: #6dffff;
  --color-k71: #59b4ff;
  --color-k72: #5959ff;
  --color-k73: #c459ff;
  --color-k74: #ff66ff;
  --color-k75: #ff59bc;
  --color-k76: #ff9c9c;
  --color-k77: #ffd39c;
  --color-k78: #ffff9c;
  --color-k79: #e2ff9c;
  --color-k80: #9cff9c;
  --color-k81: #9cffdb;
  --color-k82: #9cffff;
  --color-k83: #9cd3ff;
  --color-k84: #9c9cff;
  --color-k85: #dc9cff;
  --color-k86: #ff9cff;
  --color-k87: #ff94d3;
  --color-k88: #000000;
  --color-k89: #131313;
  --color-k90: #282828;
  --color-k91: #363636;
  --color-k92: #4d4d4d;
  --color-k93: #656565;
  --color-k94: #818181;
  --color-k95: #9f9f9f;
  --color-k96: #bcbcbc;
  --color-k97: #e2e2e2;
  --color-k98: #ffffff;
}

@layer base {
  body {
    @apply font-mono bg-k1 text-k97;
  }
}
