@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "./tailwind.config.ts";

@theme {
  --color-background-1: oklch(0.1448 0 0); /* Default element background */
  --color-background-2: oklch(0 0 0); /* Secondary background */
  --color-color-1: oklch(0.2178 0 0); /* Default background */
  --color-color-2: oklch(0.2393 0 0); /* Hover background */
  --color-color-3: oklch(0.2809 0 0); /* Active background */
  --color-color-4: oklch(0.3012 0 0); /* Default border */
  --color-color-5: oklch(0.3904 0 0); /* Hover border */
  --color-color-6: oklch(0.6234 0 0); /* Active border */
  --color-color-7: oklch(0.65 0 0); /* High contrast background */
  --color-color-8: oklch(0.5897 0 0); /* Hover high contrast background */
  --color-color-9: oklch(0.709 0 0); /* Secondary text and icons */
  --color-color-10: oklch(0.9461 0 0); /* Primary text and icons */
  --color-link-1: oklch(0.72 0.15 250.78); /* Default link */
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
  body {
    @apply bg-background-2 text-color-10 font-sans;
    scrollbar-color: #2e2e2e transparent;
  }
  .ProseMirror {
    @apply my-2 focus:outline-none;
  }
  .ProseMirror p.placeholder:first-child:before {
    @apply text-color-9 pointer-events-none float-left h-0 content-[attr(data-placeholder)];
  }
}

.markdown {
  @apply max-w-[unset];
}

.markdown p:not(:first-child) {
  @apply mt-2;
}

.markdown p {
  @apply mb-2;
}

.markdown ol,
.markdown ul {
  @apply mb-4;
}

.markdown p + :where(ol, ul) {
  @apply mt-0;
}

.markdown a {
  @apply font-normal no-underline;
}
