@import "tailwindcss";

@theme {
  /* k-colors */
  --color-k-0: #ffffff;
  --color-k-1: #000000;
  --color-k-2: #00007f;
  --color-k-3: #009300;
  --color-k-4: #ff0000;
  --color-k-5: #7f0000;
  --color-k-6: #9c009c;
  --color-k-7: #fc7f00;
  --color-k-8: #ffff00;
  --color-k-9: #00fc00;
  --color-k-10: #009393;
  --color-k-11: #00ffff;
  --color-k-12: #0000fc;
  --color-k-13: #ff00ff;
  --color-k-14: #7f7f7f;
  --color-k-15: #d2d2d2;
  --color-k-16: #470000;
  --color-k-17: #472100;
  --color-k-18: #474700;
  --color-k-19: #324700;
  --color-k-20: #004700;
  --color-k-21: #00472c;
  --color-k-22: #004747;
  --color-k-23: #002747;
  --color-k-24: #000047;
  --color-k-25: #2e0047;
  --color-k-26: #470047;
  --color-k-27: #47002a;
  --color-k-28: #740000;
  --color-k-29: #743a00;
  --color-k-30: #747400;
  --color-k-31: #517400;
  --color-k-32: #007400;
  --color-k-33: #007449;
  --color-k-34: #007474;
  --color-k-35: #004074;
  --color-k-36: #000074;
  --color-k-37: #4b0074;
  --color-k-38: #740074;
  --color-k-39: #740045;
  --color-k-40: #b50000;
  --color-k-41: #b56300;
  --color-k-42: #b5b500;
  --color-k-43: #7db500;
  --color-k-44: #00b500;
  --color-k-45: #00b571;
  --color-k-46: #00b5b5;
  --color-k-47: #0063b5;
  --color-k-48: #0000b5;
  --color-k-49: #7500b5;
  --color-k-50: #b500b5;
  --color-k-51: #b5006b;
  --color-k-52: #ff0000;
  --color-k-53: #ff8c00;
  --color-k-54: #ffff00;
  --color-k-55: #b2ff00;
  --color-k-56: #00ff00;
  --color-k-57: #00ffa0;
  --color-k-58: #00ffff;
  --color-k-59: #008cff;
  --color-k-60: #0000ff;
  --color-k-61: #a500ff;
  --color-k-62: #ff00ff;
  --color-k-63: #ff0098;
  --color-k-64: #ff5959;
  --color-k-65: #ffb459;
  --color-k-66: #ffff71;
  --color-k-67: #cfff60;
  --color-k-68: #6fff6f;
  --color-k-69: #65ffc9;
  --color-k-70: #6dffff;
  --color-k-71: #59b4ff;
  --color-k-72: #5959ff;
  --color-k-73: #c459ff;
  --color-k-74: #ff66ff;
  --color-k-75: #ff59bc;
  --color-k-76: #ff9c9c;
  --color-k-77: #ffd39c;
  --color-k-78: #ffff9c;
  --color-k-79: #e2ff9c;
  --color-k-80: #9cff9c;
  --color-k-81: #9cffdb;
  --color-k-82: #9cffff;
  --color-k-83: #9cd3ff;
  --color-k-84: #9c9cff;
  --color-k-85: #dc9cff;
  --color-k-86: #ff9cff;
  --color-k-87: #ff94d3;
  --color-k-88: #000000;
  --color-k-89: #131313;
  --color-k-90: #282828;
  --color-k-91: #363636;
  --color-k-92: #4d4d4d;
  --color-k-93: #656565;
  --color-k-94: #818181;
  --color-k-95: #9f9f9f;
  --color-k-96: #bcbcbc;
  --color-k-97: #e2e2e2;
  --color-k-98: #ffffff;
}

@layer base {
  body {
    @apply font-mono bg-k-1 text-k-97;
  }
}
